.wrapper {
	width: 100%;
	height: 100%;
	background-color: #262626;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
canvas {
	flex: none;
	/*transform: scale(6, 6);*/
	image-rendering: pixelated;
}