<div class="menu-bar">
    <nav class="pure-menu" [ngClass]="{'pure-menu-active': menuOperable}">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="menuOperable && Emit('SaveTune')">Save Wav</button></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <button href="#" id="menuLink1" class="pure-menu-button">Project</button>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('SaveProject')">Save</button></li>
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('LoadProject')">Load</button></li>
                </ul>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <button href="#" id="menuLink2" class="pure-menu-button">Playback</button>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('PlayPause')">Play/Pause</button></li>
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('Stop')">Stop</button></li>
                </ul>
            </li>
            <!-- <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <button href="#" id="menuLink2" class="pure-menu-button">Debug</button>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('DebugPixelNode')">Pixel node</button></li>
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('DebugCostGraph')">Cost graph</button></li>
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('DebugPathTree')">Path tree</button></li>
                    <li class="pure-menu-item"><button href="#" class="pure-menu-button" (click)="Emit('DebugMinPath')">Min path</button></li>
                </ul>
            </li> -->
        </ul>
    </nav>
    <span class="menu-bar-title">{{MenuBarTitle}}</span>
</div>
<fue-playback (OnPlaybackButton)="Emit('Playback')"></fue-playback>