:host {
	position: absolute;
	right: 36px;
	bottom: 36px;
}
.wrapper {
	position: relative;
}
.playback {
	z-index: 9999;
	position: absolute;
	width: 48px;
	height: 48px;
}
.playback svg {
	fill: #FBB565;
}
.play-icon {
	padding: 10px 8px 10px 12px;
	display: none;
}
.pause-icon {
	padding: 10px;
	display: none;
}
.isPlaying .pause-icon {
	display: inherit;
}
.isPausing .play-icon {
	display: inherit;
}

.bg {
	/*overflow: hidden;*/
	border-radius: 100%;
	height: 48px;
	width: 48px;
	transform: rotate(30deg) scaleY(1.3);

	background-color: #FBEF98;
}
.bg:before {
    content: "";
    position: absolute;
    bottom: 19.5px;
    margin-left: calc(24px - 6px);
    margin-bottom: 19.5px;
    box-sizing: content-box;
    border: solid 6px #FBEF98;
    border-radius: 100%;
    transform: scaleY(1.1);
}
.bg:after {
    content: "";
    position: absolute;
    top: 19.5px;
    margin-left: calc(24px - 6px);
    margin-top: 19.5px;
    box-sizing: content-box;
    border: solid 6px #FBEF98;
    
    border-radius: 100%;
    transform: scaleY(1.1);
}